.page {
  min-height: 100svh;
  max-width: 800px;
  padding: 80px;
  margin: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .page {
    padding: 20px;
  }
}

