.page {
  min-height: 100svh;
  padding: 80px;
  margin: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

@media (max-width: 600px) {
  .page {
    padding: 24px 16px 16px;
    min-height: 1000px;
  }
}

